<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
</head>
<p th:if="${error}" style="color:red;">
    <span th:text="${error}"></span>
</p>
<body>

<h1>Registro</h1>

<form action="/registro" method="post">

    <label>Nombre:</label>
    <input type="text" name="nombre"><br>

    <label>Email:</label>
    <input type="text" name="email"><br>

    <label>Password:</label>
    <input type="password" name="password"><br>

    <button type="submit">Registrarse</button>
</form>

</body>
</html>